</section>




<script >


    // search bar
    var rollNo = document.querySelector('#rollNo');

    rollNo.addEventListener('keyup', function(e) {
    if (event.key != 'Backspace' && (rollNo.value.length === 3 || rollNo.value.length === 7 ||
        rollNo.value.length === 12 || rollNo.value.length === 15))
    {
        rollNo.value += '-';
    }
    });

    // toggler
    const body = document.querySelector('body'),
    sidebar = body.querySelector('nav'),
    toggle = body.querySelector(".toggle"),
    searchBtn = body.querySelector(".search-box"),
    modeSwitch = body.querySelector(".toggle-switch"),
    modeText = body.querySelector(".mode-text");

    // dark mode
    toggle.addEventListener("click" , () =>{
    sidebar.classList.toggle("close");
    if(sidebar.classList.contains("close")){
        localStorage.setItem("sideBar","close");
    }else{
        localStorage.setItem("sideBar","open");
    }

    })

    searchBtn.addEventListener("click" , () =>{
        sidebar.classList.remove("close");
    })



    if (localStorage.getItem("mode") === "dark") {
      body.classList.add("dark");
    }
    modeSwitch.addEventListener("click" , () =>{

        body.classList.toggle("dark");

        if(body.classList.contains("dark")){
            modeText.innerText = "Dark mode";
            localStorage.setItem("mode","dark");
        }else{
            modeText.innerText = "Light mode";
            localStorage.setItem("mode","home");
        }
    });

    // navigation of menu in sidebar
    // document.getElementById("result").onclick=function(){
    //     document.getElementById("analyticsdef").style.display="none";
    //     document.getElementById("rankingsdef").style.display="none";
    //     document.getElementById("resultdef").style.display="block";
    // }
    // document.getElementById("analytics").onclick=function(){
    //     document.getElementById("resultdef").style.display="none";
    //     document.getElementById("rankingsdef").style.display="none";
    //     document.getElementById("analyticsdef").style.display="block";
    // }
    // document.getElementById("rankings").onclick=function(){
    //     document.getElementById("resultdef").style.display="none";
    //     document.getElementById("analyticsdef").style.display="none";
    //     document.getElementById("rankingsdef").style.display="block";
    // }




</script>



</body>
</html>
