<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <!----======== CSS ======== -->
    <link rel="stylesheet" href="../CSS/styles2.css">
</head>
<body >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    const mode = localStorage.getItem('mode');
    if(mode!="dark"){
      document.body.classList.remove("dark");
    }else{
      document.body.classList.add("dark");
    }
  </script>


    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="../images/icons8-test-account-80.png" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name" style="color:#F806CC;"><%=greetings%></span>
                    <span class="student" style="font-size:1.2rem;"><%=results[0].first_name%></span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu" >

                <form  action="/result" method="post">
                  <li class="search-box">
                      <i class='bx bx-search icon'></i>
                      <input name="searchTxt" type="text" placeholder="Roll No." onchange="this.form.submit()" autocomplete="off" id="rollNo">
                  </li>
                </form>


                <ul class="menu-links">
                  <form id="resultsForm" action="/result" method="post" >
                    <li id="1" onClick="reply_click(this.id)" class="nav-link" >
                        <a href="javascript:$('#resultsForm').submit();">
                            <i class="uil uil-medal icon"></i>
                            <span class="text nav-text " >Results</span>
                        </a>
                    </li>
                  </form>

                  <form id="analyticsForm" action="/analytics" method="post">
                    <li id="2"  onClick="reply_click(this.id)" class="nav-link">
                        <a href="javascript:$('#analyticsForm').submit();" id="analytics" >
                            <i class='bx bx-pie-chart-alt icon' ></i>
                            <span class="text nav-text">Analytics</span>
                        </a>
                    </li>
                  </form>

                    <form id="rankingsForm" action="/rankings" method="post">
                      <li id="3" onClick="reply_click(this.id)" class="nav-link">
                          <a href="javascript:$('#rankingsForm').submit();" id="rankings">
                              <i class="uil uil-trophy icon"></i>
                              <span class="text nav-text">Rankings</span>
                          </a>
                      </li>
                    </form>
                  </ul>
              </div>
            <div class="bottom-content">
                <li class="">
                    <a href="/">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Back to home</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-sun icon sun'></i>
                        <i class='bx bx-moon icon moon'></i>

                    </div>
                    <span class="mode-text text">
                    <!-- Light Mode -->
                    </span>

                    <div class="toggle-switch ">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>

    </nav>
    <script >
    const sideBar = localStorage.getItem('sideBar');
    if (sideBar == "open") {
      $("nav").removeClass("close");
    }
    if(document.body.classList.contains("dark")){
        document.querySelector(".mode-text").innerText = "Dark mode";
    }else{
        document.querySelector(".mode-text").innerText = "Light mode";
    }
    var arrID = ["1","2","3"];
    idClicked = localStorage.getItem("selectedtab");
    console.log(arrID.includes(idClicked));
    if (arrID.includes(idClicked)) {
      $("#"+idClicked).addClass("selectedtab");
    }
    // document.querySelector('.nav-link').addEventListener("click",​function(){
    //   var clicked = true;
    // });​
    function reply_click(clicked_id)
   {
       $("#"+clicked_id).addClass("selectedtab");
       console.log(clicked_id);
       localStorage.setItem("selectedtab", clicked_id);
   }
    </script>

    <section class="home">
