<%-include("partials/header")%>
  <div class="text" id="rankingsdef" ><span class="resultscolor">Analytics<hr></span>
    <div class="dropdown-menu">
          <select name="semester" class="analyticsemester" >
            <option id="1" value="1" >Semester 1</option>
            <option id="2" value="2" >Semester 2</option>
          </select>
        <div class="chartWrapper" >
        <canvas id="myChart"></canvas>
        </div>
    </div>
  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>


        var subjectsName = [];
        var subjectsTotal =[];
        var avgData = [];
        var topData = [];
        var semNumber = 1;

        async function dummyChart(){
          await getDummyData();

          const ctx = document.getElementById("myChart");
          const myChart = new Chart(ctx,{
            type:"line",
            data:{
              labels:subjectsName.slice(0,5),
              datasets:[{
                label:"You",
                data:subjectsTotal.slice(0,5),
                // backgroundColor: "rgba(255, 99, 132, 0.2)",
                borderColor: "rgb(255, 23, 23)",
                borderWidth:4,
                fill:false,
                tension:0.2
              },
              {
                label:"Average",
                data:avgData.slice(0,5),
                // backgroundColor: "rgba(255, 99, 132, 0.2)",
                borderColor: "rgb(17, 237, 222)",
                borderWidth:4,
                fill:false,
                tension:0.2
              },
              {
                label:"Highest",
                data:topData.slice(0,5),
                // backgroundColor: "rgba(255, 99, 132, 0.2)",
                borderColor: "rgba(66, 245, 126)",
                borderWidth:4,
                fill:false,
                tension:0.2
              }]

            },

            options: {
              animations: {
          radius: {
            duration: 400,
            easing: 'linear',
            loop: (context) => context.active
          }
        },
        hoverRadius: 12,
        hoverBackgroundColor: 'yellow',
        interaction: {
          mode: 'nearest',
          intersect: false,
          axis: 'x'
        },
              scales: {
                  y: {
                      beginAtZero: true,
                      title: {
                        display: true,
                        text: 'MARKS',
                        font:{
                          weight:'bolder',
                          size:'17',
                        }
                      },
                      ticks:{
                         color:'rgb(13, 94, 224)'
                      },
                      grid:{
                        borderColor:'rgb(13, 94, 224)',
                        color:'rgb(77, 227, 227,0.5)',
                        // display:false
                      }
                    },
                  x: {
                      beginAtZero: true,
                      title: {
                        display: true,
                        text: 'SUBJECTS',
                        font:{
                          weight:'bolder',
                          size:'17',
                        },
                      },
                      ticks:{
                         color:'rgb(13, 94, 224)'
                      },
                      grid:{
                        borderColor:'rgb(13, 94, 224)',
                        color:'rgb(77, 227, 227,0.5)',
                        // display:false
                      }
                  }
              }
          }

        });

        $('select').on('change', function() {
          clearAndAddNewDataSets(this.value);
        });



        function clearAndAddNewDataSets(semNumber) {
          myChart.config.data.datasets = [];
          myChart.config.data.labels = [];
          var labels = [];
          var innerLabels = ["You", "Average", "Highest"];
          var data = [];
          var colors = ["rgb(255, 23, 23)","rgb(17, 237, 222)","rgba(66, 245, 126)"]
          var options = {
           animations: {
       radius: {
         duration: 400,
         easing: 'linear',
         loop: (context) => context.active
       }
     },
     hoverRadius: 12,
     hoverBackgroundColor: 'yellow',
     interaction: {
       mode: 'nearest',
       intersect: false,
       axis: 'x'
     },
           scales: {
               y: {
                   beginAtZero: true,
                   title: {
                     display: true,
                     text: 'MARKS',
                     font:{
                       weight:'bolder',
                       size:'17',
                     }
                   },
                   ticks:{
                      color:'rgb(13, 94, 224)'
                   },
                   grid:{
                     borderColor:'rgb(13, 94, 224)',
                     color:'rgb(77, 227, 227,0.5)',
                     // display:false
                   }
                 },
               x: {
                   beginAtZero: true,
                   title: {
                     display: true,
                     text: 'SUBJECTS',
                     font:{
                       weight:'bolder',
                       size:'17',
                     },
                   },
                   ticks:{
                      color:'rgb(13, 94, 224)'
                   },
                   grid:{
                     borderColor:'rgb(13, 94, 224)',
                     color:'rgb(77, 227, 227,0.5)',
                     // display:false
                   }
               }
           }
       }




          if( semNumber == 1 ){
            labels=subjectsName.slice(0,5);
            data[0] = subjectsTotal.slice(0,5) ;
            data[1] = avgData.slice(0,5);
            data[2] = topData.slice(0,5);


            myChart.config.data.labels = labels;

              for (i = 0; i < data.length; i++) {
                 var dataSet = {
                        label: innerLabels[i] ,
                        data: data[i],
                        borderColor:colors[i] ,
                        borderWidth:4,
                        fill:false,
                        tension:0.2
                      }
                myChart.config.data.datasets.push(dataSet);
                    }
                myChart.config.data.options = options;
                myChart.update();
          } //if 1 ends here

          if( semNumber == 2 ){
            labels=subjectsName.slice(5,11);
            data[0] = subjectsTotal.slice(5,11) ;
            data[1] = avgData.slice(5,11);
            data[2] = topData.slice(5,11);


            myChart.config.data.labels = labels;

              for (i = 0; i < data.length; i++) {
                 var dataSet = {
                        label: innerLabels[i] ,
                        data: data[i],
                        borderColor:colors[i] ,
                        borderWidth:4,
                        fill:false,
                        tension:0.2
                      }
                myChart.config.data.datasets.push(dataSet);
                    }
                myChart.config.data.options = options;
                myChart.update();
          } //if 2 ends here
          }
    }

      dummyChart();


      async function getDummyData() {
       const apiUrl = "http://localhost:3000/analytics/data"

        const response = await fetch(apiUrl);
        const chartsData = await response.json();
        console.log(chartsData);
        chartsData[0].forEach(function(chartData,index){
          subjectsName[index] = chartData.opt;
          subjectsTotal[index] = chartData.val;
        });

        avgData = chartsData[1];
        topData = chartsData[2];




  }
    </script>

<%-include("partials/footer")%>
